<div class="work-progres">
    <div class="chit-chat-heading">
          Active User List
          <div *ngIf="userdetails.length >= 1" class="chit-chat-heading-right"><a (click)="exporttoexcel('activeuserlist')"> <i class="fa fa-file-excel-o" style="font-size:24px"></i></a></div>
    </div>
    <div class="table-responsive" id='activeuserlist'>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Email</th>                                   
              <th>Gender</th>
              <th>Aadhar</th>
              <th>PanCard</th>
              <th>Phone</th>
              <th>Address</th>                                   
              <th>City</th>
              <th>State</th>
              <th>PinCode</th>
              <th>Registered On</th>                                   
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngIf="userdetails.length == 0">
              <td colspan="2">No New user registered</td>
          </tr>
        <tr *ngFor ="let user of userdetails" (click)="RouteToUserDetails(user.ID)">
          <td> {{user.FName}} </td>
          <td>{{user.LName}}</td>
          <td>{{user.Email}}</td>
          <td>{{user.Gender | GenderPipe}}</td>
          <td>{{user.AadharNumber}}</td>
          <td>{{user.PanCard}}</td>
          <td>{{user.PhoneNumber}}</td>
          <td>{{user.Address}}</td>
          <td>{{user.City}}</td>
          <td>{{user.State | StatePipe }}</td>
          <td>{{user.Pincode}}</td>
          <td>{{user.RegisteredDate | date: 'fullDate' }}</td>
          <td *ngIf="!user.IsActive"><a routerLink="/admin/user/{{ user.ID }}" class="label label-danger">Not Active</a></td>
          <td *ngIf="user.IsActive"><a routerLink="/admin/user/{{ user.ID }}" class="label label-success">Active</a></td>
      </tr>
  </tbody>
</table>
</div>
</div>
