<div class="row mb40">
    <div class="col-md-12">
        <app-slider></app-slider>
    </div>
    <div class="col-md-12" style="text-align: center;">
        <div class="productsView ab_prdMeet comBox">
            <h2><strong>Products </strong>to meet your life goals</h2>
            <ul>
                <li><a data-event="Product Offering" data-eventaction="Savings Account"
                        data-eventcategory="Product offered by us"
                        data-eventlabel="/retail/accounts/savings-account/digital-savings-account/offers?cta=product-life-goal-first">
                        <div class="productBox"><span class="savingAcBg"></span>
                           <a routerLink="/openaccount" [queryParams]="{ open: 'dsa'}"><h4>Digital Savings</h4></a>
                        </div>
                    </a>
                </li>
                <li><a data-event="Product Offering" data-eventaction="Credit Cards"
                        data-eventcategory="Product offered by us"
                        data-eventlabel="/retail/loans/personal-loan/features-benefits?cta=product-life-goal-second">
                        <div class="productBox"><span class="plIcon"></span>
                            <a routerLink="/openaccount" [queryParams]="{ open: 'pl'}"><h4>Personal Loan</h4></a>
                        </div>
                    </a>
                </li>
                <li><a data-event="Product Offering" data-eventaction="Credit Cards"
                        data-eventcategory="Product offered by us"
                        data-eventlabel="/retail/cards/credit-card?cta=product-life-goal-third">
                        <div class="productBox"><span class="ccBg"></span>
                            <a routerLink="/openaccount" [queryParams]="{ open: 'cc'}"><h4>Credit Cards</h4></a>
                        </div>
                    </a>
                </li>
                <li><a data-event="Product Offering" data-eventaction="Credit Cards"
                        data-eventcategory="Product offered by us"
                        data-eventlabel="/retail/cards/credit-card?cta=product-life-goal-third">
                        <div class="productBox"><span class="carloanIcon"></span>
                            <a routerLink="/openaccount" [queryParams]="{ open: 'carl'}"><h4>Car Loan</h4></a>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self">
                    <h3 class="title-left mx-0">Our bank founded in 2021 to introduce the new level of financial
                        services. We are still dedicated to the success of our clients.</h3>
                    <p class="mt-md-4 mt-3">Our internet banking brings a whole host of banking services to your fingertips. It offers you the ease and convenience of transacting in a comfortable environment. You can check your balances, track your transactions and transfer funds effortlessly. Furthermore, you can also pay your bills, open fixed and recurring deposits and do so much more.</p>
                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" routerLink="../openaccount"> Open Account</a>
                </div>
                <div class="col-lg-5">
                    <div class="position-relative">
                        <img src="assets/images/about.jpg" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="w3l-ordercard">
    <div class="container py-lg-5 py-md-4 py-2">
        <h3 class="title-big mb-5 text-center">How to apply a New Credit Card</h3>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-sign-in"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Online Registration</h4>
                        <p class="desc">Register yourself in ABC Retail Bank for the process</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-file-text-o"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Filling Out a Form</h4>
                        <p class="desc">Fill out the form to open new account. or old users can apply new card in the dashboard page.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-lg-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-credit-card"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Using a card</h4>
                        <p class="desc">Use your card after our administrator approves the card</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb40">
    <div class="col-md-12">
        <div class="portlet-grid panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Banking at your fingertips</h3>
            </div>
            <div class="panel-body">
                Our internet banking brings a whole host of banking services to your fingertips. It offers you the ease
                and convenience of transacting in a comfortable environment. You can check your balances, track your
                transactions and transfer funds effortlessly. Furthermore, you can also pay your bills, open fixed and
                recurring deposits and do so much more.
            </div>
        </div>

        <div class="portlet-grid panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Bill payments at any time, from anywhere</h3>
            </div>
            <div class="panel-body">
                With our internet banking facility, you can pay your bills without having to wait in queues anymore. You
                can also choose any option for bill payments, manage your billers and even make use of the ‘Quick Pay’
                function to make payments faster. Also, you can set reminders for your bill payments, so you never
                forget to pay on time.
            </div>
        </div>

        <div class="portlet-grid panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Safe and secure banking</h3>
            </div>
            <div class="panel-body">
                You never need to worry about the security of your information and data when you bank with us as your
                online partner. We have put in place a multi-level security system to protect your data and information.
                In order to know more about the security features of ABC Retail Bank Internet Banking, please click here
            </div>
        </div>
    </div>
</div>