<div *ngIf="isUserValid">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">

        <div class="form-row" *ngFor="let acc of account" [ngSwitch]="acc.AccountType">
            <div *ngSwitchCase="'dsa'" class="col-md-12 mb-12">
                <label for="validationDefault01">Saving Account Balance</label>
                <input type="text" [OnlyNumber]="true" maxlength="11" class="form-control" formControlName="dsaBalance"
                    placeholder="Enter Account Balance" required [ngClass]="{ 'disabled' : (acc.AccountValue == '0')  }">
            </div>

            <div *ngSwitchCase="'pl'" class="col-md-12 mb-12 mt-3">
                <label for="validationDefault01">Personal Loan Amount</label>
                <input type="text" [OnlyNumber]="true" maxlength="11" class="form-control" formControlName="plBalance"
                    placeholder="Enter Personal Loan Balance" required
                    [ngClass]="{ 'disabled' : (acc.AccountValue == '0')  }">
            </div>

            <div *ngSwitchCase="'cc'" class="col-md-12 mb-12 mt-3">
                <label for="validationDefault01">Credit Card Balance</label>
                <input type="text" [OnlyNumber]="true" maxlength="11" class="form-control" formControlName="ccBalance"
                    placeholder="Enter Credit Card Balance" required [ngClass]="{ 'disabled' : (acc.AccountValue == '0')  }">
            </div>

            <div *ngSwitchCase="'carl'" class="col-md-12 mb-12 mt-3">
                <label for="validationDefault01">Car Loan Amount</label>
                <input type="text" [OnlyNumber]="true" maxlength="11" class="form-control" formControlName="carlBalance"
                    placeholder="Enter Car Loan Balance" required [ngClass]="{ 'disabled' : (acc.AccountValue == '0')  }">
            </div>
        </div>


        <div class="col-md-12 mb-12 mt-3" style="text-align: center;">
            <button class="form-control btn btn-primary" type="submit" style='width:125px'>Approve User</button>
        </div>


    </form>

</div>