<div class="eligibilityBox loanContaint">
    <h2>Internet Banking Registration</h2>
    <p class="EligibilityPadTop">ABC Retail Bank ensures hassle free internet banking registrations in just a few easy
        steps. Online banking is secure with the added two-step authentication system of Netsecure. Follow the below
        steps for Internet banking registration
        and start banking online.
    </p>

    <p>Quick, easy steps to login and start banking online with ease</p>

    <div class="faqSect faqsBox internalFaqWrap">
        <div class="panel-group infowrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title openAcc">For Retail / Agri-Rural
                            customers</h5>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <ul class="basicList">
                            <li>To login to internet banking, you need the login id which is the same as your
                                9-digit Customer ID (mentioned on the welcome letter and printed on your cheque
                                book), along with your login password.</li>
                            <li>You can also obtain your Customer ID by sending an SMS CUSTID to 56161600 .</li>
                            <li>New users can generate a password online by using the ‘First time user option’. You
                                can generate the login password using your debit card 4-digit ATM Pin and your
                                registered mobile number.</li>
                            <li>If you have not applied for a Debit
                                    Card, a printed password will be delivered to you by courier.</li>
                            <li>To login for the first time, click here <span class="sr-only"> for the first time
                                        login</span>.</li>
                            <li>In case you have forgotten your password click on "Forgot Password" link on the
                                login page and generate your password online.</li>
                            <li>If you want to generate your password now, please click here <span class="sr-only"> For generating your password
                                    </span>.</li>
                            <li>Alternatively, you can also log in to internet banking using your Debit Card No. and
                                Pin. <br>Simply click on “Debit Card No.” above the login window, key in the details
                                and authenticate
                                the OTP sent to your registered mobile no. <br>Click here for a how to video on debit
                                card login.

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title closeAcc">For NRI customers</h5>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <ul class="basicList">
                            <li>To login to internet banking, you need the login id which is the same as your
                                9-digit Customer ID (mentioned on the welcome letter and printed on your cheque
                                book), along with your login password.</li>
                            <li>You can also obtain your Customer ID by sending an SMS CUSTID to +918691000002</li>
                            <li>As an NRI customer, you can also login with KYC credentials.</li>
                            <li>To login for the first time, click here <span class="sr-only">for the first time login
                                    </span></li>
                            <li>In case you have forgotten your password click on "Forgot Password" link on the
                                login page and generate your password online.</li>
                            <li>If you want to generate your password now, please click here <span class="sr-only"> For generating your
                                        password</span>.</li>
                            <li>In case any assistance is required, call our 24x7 Phone Banking numbers or write to nri.services@abcretailbank.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="faqSect faqsBox internalFaqWrap">
        <div class="panel-group infowrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title closeAcc">Follow these steps if you do
                            not have a username or password</h5>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <ul class="basicList">
                            <li>Download the ABC Retail Bank Internet Banking form.
                                (It is also available at your nearest branch)</li>
                            <li>Fill your account details.</li>
                            <li>Read the instructions overleaf before signing.</li>
                            <li>The form must be signed by all account holders.</li>
                            <li>Submit the form to any of our branch offices.</li>
                            <li>While submitting the form at the branch, register your mobile number for Internet
                                Banking (Netsecure),
                                in case
                                it's not registered. (This 2nd factor authentication ensures that you enjoy an
                                additional security layer for all your important online transactions like fund
                                transfer, bill payment, mobile recharge
                                etc.)
                            </li>
                            <li>You can also register your mobile number for Internet Banking by visiting your nearest ABC Retail Bank
                                    ATM. (Refer steps below for more information).</li>
                            <li>ABC Retail Bank shall send you the passwords by mail.</li>
                            <li>Post receiving the passwords log in to Internet Banking.</li>
                            <li>You will see a message asking you to register for Netsecure
                                (2nd factor authentication)</li>
                            <li>Choose the mode you want to opt.</li>
                            <li>Enter your mobile number and submit. (Please enter the same mobile number that you
                                have registered earlier for Internet Banking).</li>
                            <li>Your registration is now complete.</li>
                            <li>Start transacting and enjoy all services of ABC Retail Bank Internet Banking.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title closeAcc">Follow these steps if you
                            have a username and password but cannot access all services</h5>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <p>Log on to Internet Banking</p>
                        <ul class="basicList">
                            <li>If you see a message stating that your access to Internet Banking is currently a
                                View Only access and asking you to register for fund transfer then follow the steps
                                below:
                                <ul class="subList">
                                    <li>Visit your nearest ABC Retail Bank ATM and register for Netsecure
                                        (Refer steps below for more information).</li>
                                    <li>Re-login to Internet Banking.</li>
                                    <li>You will see a message asking you to register for Netsecure (2nd factor
                                        authentication). Click there to register for Netsecure.</li>
                                    <li>Choose the mode you want to opt for.</li>
                                    <li>Enter your mobile number and Submit. (Please enter the same mobile number
                                        that you have registered earlier).</li>
                                    <li>Your registration is now complete.</li>
                                    <li>Start transacting and enjoy all services of ABC Retail Bank Internet Banking.</li>
                                </ul>
                            </li>
                            <li>If you see a message asking you to register for Netsecure
                                (2nd factor authentication) then follow the steps below:
                                <ul class="subList">
                                    <li>Click on register for Netsecure on the post login page.</li>
                                    <li>Choose the mode you want to opt.</li>
                                    <li>Enter your mobile number and submit.</li>
                                    <li>Your registration is now complete.</li>
                                    <li>In case while entering the mobile no. you get the message "Mobile no. not
                                        registered or does not match" then register your mobile number for Internet
                                        Banking by visiting your nearest ABC Retail Bank ATM (Refer steps below for more
                                        information).
                                    </li>
                                    <li>Your registration is now complete.</li>
                                    <li>Start transacting and enjoy all services of ABC Retail Bank Internet Banking.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title closeAcc">Follow these steps to
                            register your mobile number for internet banking at an ATM</h5>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <ul class="basicList">
                            <li>Visit your nearest ABC Retail Bank ATM</li>
                            <li>Select Registrations</li>
                            <li>Select Netsecure</li>
                            <li>Enter your mobile number and confirm it.</li>
                            <li>You will get an SMS confirming your registration.</li>
                            <li>Alternatively you can also visit our nearest branch and register your mobile number
                                for Internet Banking (Netsecure)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="faqSect faqsBox internalFaqWrap">
        <div class="panel-group infowrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title closeAcc">Follow these steps if you do
                            not have a username or password</h5>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <ul class="basicList">
                            <li>Download the ABC Retail Bank Internet Banking form.
                                (It is also available at your nearest branch)</li>
                            <li>Fill your account details.</li>
                            <li>Read the instructions overleaf before signing.</li>
                            <li>The form must be signed by all account holders.</li>
                            <li>Submit the form to any of our branch offices.</li>
                            <li>While submitting the form at the branch, register your mobile number for Internet
                                Banking (Netsecure),
                                in case
                                it's not registered. (This 2nd factor authentication ensures that you enjoy an
                                additional security layer for all your important online transactions like fund
                                transfer, bill payment, mobile recharge
                                etc.)
                            </li>
                            <li>You can also register your mobile number for Internet Banking by visiting your nearest ABC Retail Bank
                                    ATM. (Refer steps below for more information).</li>
                            <li>ABC Retail Bank shall send you the passwords by mail.</li>
                            <li>Post receiving the passwords log in to Internet Banking.</li>
                            <li>You will see a message asking you to register for Netsecure
                                (2nd factor authentication)</li>
                            <li>Choose the mode you want to opt.</li>
                            <li>Enter your mobile number and submit. (Please enter the same mobile number that you
                                have registered earlier for Internet Banking).</li>
                            <li>Your registration is now complete.</li>
                            <li>Start transacting and enjoy all services of ABC Retail Bank Internet Banking.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title closeAcc">Follow these steps if you
                            have a username and password but cannot access all services</h5>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <p>Log on to Internet Banking</p>
                        <ul class="basicList">
                            <li>If you see a message stating that your access to Internet Banking is currently a
                                View Only access and asking you to register for fund transfer then follow the steps
                                below:
                                <ul class="subList">
                                    <li>Visit your nearest ABC Retail Bank ATM and register for Netsecure
                                        (Refer steps below for more information).</li>
                                    <li>Re-login to Internet Banking.</li>
                                    <li>You will see a message asking you to register for Netsecure (2nd factor
                                        authentication). Click there to register for Netsecure.</li>
                                    <li>Choose the mode you want to opt for.</li>
                                    <li>Enter your mobile number and Submit. (Please enter the same mobile number
                                        that you have registered earlier).</li>
                                    <li>Your registration is now complete.</li>
                                    <li>Start transacting and enjoy all services of ABC Retail Bank Internet Banking.</li>
                                </ul>
                            </li>
                            <li>If you see a message asking you to register for Netsecure
                                (2nd factor authentication) then follow the steps below:
                                <ul class="subList">
                                    <li>Click on register for Netsecure on the post login page.</li>
                                    <li>Choose the mode you want to opt.</li>
                                    <li>Enter your mobile number and submit.</li>
                                    <li>Your registration is now complete.</li>
                                    <li>In case while entering the mobile no. you get the message "Mobile no. not
                                        registered or does not match" then register your mobile number for Internet
                                        Banking by visiting your nearest ABC Retail Bank ATM (Refer steps below for more
                                        information).
                                    </li>
                                    <li>Your registration is now complete.</li>
                                    <li>Start transacting and enjoy all services of ABC Retail Bank Internet Banking.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title closeAcc">Follow these steps to
                            register your mobile number for internet banking at an ATM</h5>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <ul class="basicList">
                            <li>Visit your nearest ABC Retail Bank ATM</li>
                            <li>Select Registrations</li>
                            <li>Select Netsecure</li>
                            <li>Enter your mobile number and confirm it.</li>
                            <li>You will get an SMS confirming your registration.</li>
                            <li>Alternatively you can also visit our nearest branch and register your mobile number
                                for Internet Banking (Netsecure)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>